.home {
    background-image: url(../assets/home-image-1.jpg);
    height: 700px;
    position: relative;
    img {
        width: 50%;
        position: absolute;
        bottom: -15%;
        right: 0px;
        z-index: 1;
    }
    h1, h2 {
        text-align: center;
        color: white;
        z-index: 1000;
        position: relative;
    }

    h1 {
        margin-top: 300px;
        font-size: 261.4px;
        letter-spacing: 2.4px;
        font-family: 'Tulpen One', cursive;
        color:#FF8327;
    }
    h2 {
        font-family: 'Chathura', sans-serif;
        font-size: 83.2px;
        line-height: 94.7px;
        letter-spacing: 2.6px;
        margin-top: 25px;
        margin-right: 160px;
    }
}

.contact {
    background-image: url(../assets/contact-header-1.jpg);
    height: 550px;
    h1 {
        font-size: 108px;
        font-weight: 700;
    }
}

.blog {
    background-image: url(../assets/blog-header-1.jpg);
    height: 600px;
    h1 {
        font-size: 108px;
        font-weight: 700;
    }
}

.home-link,
.contact-link,
.blog-link {
    color:#FF8327;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
        font-family: 'Chathura', sans-serif;
        font-size: 83.2px;
        line-height: 94.7px;
        letter-spacing: 2.6px;
    }
    nav {
        margin-bottom: 180px;
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 40px;
                a {
                    font-family: 'Chathura', sans-serif;
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 29px;
                    letter-spacing: 1.9px;
                    text-decoration: none;
                }
                .bar-link {
                    font-family: 'Tulpen One', cursive;
                    font-size: 64px;
                    font-weight: 300;
                    position: relative;
                    bottom: 5px;
                }
            }
        }
    }
}
