.home {
    background-image: url(../assets/home-image-1.jpg);
    height: 800px;
}

.contact {
    background-image: url(../assets/contact-header-1.jpg);
    height: 550px;
    // height: 60vh;
}

.blog {
    background-image: url(../assets/blog-header-1.jpg);
    height: 600px;
    h1 {
        font-size: 108px;
        font-weight: 700;
    }
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
        font-family: 'Chathura', sans-serif;
        font-size: 83.2px;
        line-height: 94.7px;
        letter-spacing: 2.6px;
    }
    nav {
        margin-bottom: 180px;
        ul {
            display: flex;
            justify-content: center;
            li {
                margin: 40px;
                a {
                    font-family: 'Chathura', sans-serif;
                    font-size: 38px;
                    font-weight: bold;
                    line-height: 29px;
                    letter-spacing: 1.9px;
                    text-decoration: none;
                }
                .bar-link {
                    font-family: 'Tulpen One', cursive;
                    font-size: 64px;
                    font-weight: 300;
                    position: relative;
                    bottom: 5px;
                }
            }
        }
    }
}
