h1, p, a {
    color: white;
}

.contact-mid {
    background-color: #111010;
    .contact-body {
        display: flex;
        justify-content: space-around;
        padding: 100px 0 150px 0;
        .contact-link {
            flex-grow: 1;
            ul {
                display: flex;
                li {
                    margin: 0 20px 20px 0;
                    a {
                        font-size: 25px;
                    }
                }
            }
            .contact-address {
                width: 250px;
            }
            .contact-address p {
                font-family: 'Chathura', sans-serif;
                font-size: 39px;
                line-height: 30px;
            }
            .contact-address p:nth-of-type(1) {
                margin-bottom: 25px;
            }
        }
        .form-container {
            position: relative;
            flex-grow: 8;
            .contact-form {
                position: absolute;
                top: -220px;
                background-color: #220303;
                height: 500px;
                box-shadow: 20px 15px #FF8327;
                text-align: center;
                textarea {
                    width: 90%;
                    border: 1px solid white;
                    color: white;
                    background-color: #220303;
                    font-family: 'Chathura', sans-serif;
                    font-size: 29px;
                    line-height: 25px;
                    resize: none;
                    padding: 30px 0 0 20px;
                }
                input[type=email],
                input[type=text] {
                    background-color: #220303;
                    width: calc(45% - 13px);
                    color: white;
                    border: none;
                    border-bottom: 1px solid white;
                    margin: 30px 10px 35px 10px;
                    padding: 0 0 10px 20px;
                    font-family: 'Chathura', sans-serif;
                    font-size: 29px;
                }
                input[type=submit] {
                    margin-top: 40px;
                    width: 90%;
                    background-color: #BF2603;
                    border: none;
                    color: white;
                    font-family: 'Chathura', sans-serif;
                    font-size: 49px;
                    line-height: 35px;
                    font-weight: 700;
                }
            }  
        }
    }
}

.blog-mid {
    background-color: #111010;
    .blog-flex-container {
        display: flex;
        }
    .blog-left {
        width: calc(100% / 3);
        margin-right: 5%;
        margin-top: 5%;
        position: relative;
        z-index: 10000;
        p, h2 {
            margin: 5% 0 0 30%;
        }
        h2 {
            font-family: 'Chathura', sans-serif;
            font-size: 68px;
            line-height: 58px;
            font-weight: 700;
            letter-spacing: 2.2px;
            color: white;
        }
        p {
            margin-top: 0;
            font-family: 'Chathura', sans-serif;
            font-size: 39px;
            line-height: 30px;
        }
        ul {
            list-style: none;
            position: relative;
            li {
                margin-top: 0;
                font-family: 'Chathura', sans-serif;
                font-size: 39px;
                line-height: 30px;
                color: white;
                margin-left: 40%;
            }
            li::before {
                content: "\2022"; 
                color: red;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
                font-size: 30px;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
    .blog-left p:nth-of-type(2) {
        color: #FF8327;
    }
    .blog-left::before {
        position: absolute;
        content: "";
        width: 80%;
        height: 63em;
        top: 2%;
        right: -5%;
        background-color: #220303;
        z-index: -1;
    }
    .blog-right {
        img {
            margin-left: 25px;
            width: calc(100% - 25px);
            margin-bottom: 50px;
        }
        width: calc((100%/3)*2);
        position: relative;
        top: -80px;
        z-index: 10000;
        h2 {
            font-family: 'Chathura', sans-serif;
            font-size: 68px;
            line-height: 58px;
            font-weight: 700;
            letter-spacing: 2.2px;
            margin: 40px 120px 0 120px;
            color: white;
        }
        p {
            font-family: 'Chathura', sans-serif;
            font-size: 39px;
            line-height: 30px;
            margin: 20px 120px;
        }

    }
    .blog-right::before {
        position: absolute;
        content: "";
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        top: 2%;
        border-left: 5px solid #FF8327;
        border-bottom: 5px solid #FF8327; 
        z-index: -1;
    }
    .blog-right::after {
        position: absolute;
        content: "";
        width: 96%;
        height: 40vw;
        top: 2%;
        background-color: #FF8327; 
        z-index: -1;
    }

    .blog-right p:nth-of-type(1) {
        color: #FF8327;
        margin-bottom: 40px;
        margin-top: 0;
    }
    .blog-right p:nth-of-type(5) {
        margin-bottom: 70px;
    }
}

.blog-mid-bottom {
    background-color: #111010;
    .blog-comment {
        display: flex;
        justify-content: center;
    }
    h2 {
        font-family: 'Chathura', sans-serif;
        font-size: 68px;
        line-height: 58px;
        font-weight: 700;
        letter-spacing: 2.2px;
        color: white;
        margin-bottom: 50px;
        margin-right: 120px;
    }
    .blog-comment-one, .blog-comment-two {
        display: flex;
        justify-content: right;

        .blog-comment-text {
            width: 45%;
            margin-right: 120px;
            margin-left: 2%;
            margin-bottom: 100px;
            p {
                font-family: 'Chathura', sans-serif;
                font-size: 39px;
                line-height: 30px;
            }
        }
        .blog-comment-text p:nth-of-type(1) {
            color: #FF8327;
            margin-bottom: 10px;
            font-size: 45px;
        }
    }
    .blog-form {
        text-align: right;
        textarea {
            width: 55%;
            border: 1px solid #FF8327;
            color: white;
            background-color: #111010;
            font-family: 'Chathura', sans-serif;
            font-size: 39px;
            line-height: 25px;
            resize: none;
            padding: 30px 0 0 20px;
            margin-right: 5%;
        }
        input[type=email],
        input[type=text] {
            background-color: #111010;
            width: calc((55%/2) - 13px);
            color: white;
            border: none;
            border-bottom: 1px solid #FF8327;
            margin: 0 10px 35px 10px;
            padding: 0 0 10px 20px;
            font-family: 'Chathura', sans-serif;
            font-size: 39px;
        }

        input[type=email] {
            margin-right: 5%;
        }
        input[type=submit] {
            margin-top: 40px;
            width: 55%;
            background-color: #BF2603;
            border: none;
            color: white;
            font-family: 'Chathura', sans-serif;
            font-size: 49px;
            line-height: 50px;
            font-weight: 300;
            margin-right: 5%;
            margin-bottom: 5%;
        }
    }
}