@media (max-width: 1080px) {
    // Home Page Media Queries
    .home {
        height: 600px;
        img {
            width: 60%;
        }
        h1 {
            margin-top: 150px;
            font-size: 200px;
        }
        h2 {
            font-size: 70px;
            margin-right: 105px;
        }
    }
    header {
        nav {
            margin-bottom: 40px;
            ul {
                li {
                    margin: 30px;
                    a {
                        font-size: 28px;
                    }
                    .bar-link {
                        font-size: 54px;
                    }
                }
            }
        }
    }
    .one {
        .body-flex {
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            div {
                width: 100%;
                margin: 0;
                text-align: center;
                position: relative;
                i {
                    top: 50px;
                    left: -110px;
                    position: relative;
                }
            }
        }
        .body-flex div:nth-of-type(1) {
            margin-top: 15%;
            margin-bottom: 0;
        }
        .body-flex div:nth-of-type(2),
        .body-flex div:nth-of-type(3) {
            margin-top: 0;
            margin-bottom: 0;
        }
        .body-flex div:nth-of-type(4) {
            margin-top: 0;
            margin-bottom: 80px;
        }
    }
    .two {
        .body-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            div {
                width: 80%;
                text-align: center;
                margin: 5px;
                padding: 0;
                h2 {
                    margin-top: 20px;
                }
                button {
                    margin-bottom: 20px;
                }
            }
            div:nth-of-type(1),
            div:nth-of-type(2),
            div:nth-of-type(3),
            div:nth-of-type(4) {
                text-align: center;
                margin: 0;
                padding: 0;
            }
        }
    }
    .four {
        div {
            height: 400px;
        }
    }

    // Blog Media Queries

    .blog {
        height: 500px;
        h1 {
            font-size: 88px;
        }
    }


    .blog-mid {
        .blog-flex-container {
            flex-direction: column;
            align-items: center;
            }
        .blog-left {
            width: 80%;
            margin-right: 0;
            margin-top: 5%;
            position: relative;
            z-index: 10000;
            background-color: #220303;
            border: 20px solid #220303;
            p, h2 {
                margin: 1% 0 0 0;
            }
            ul {
                li {
                    margin-left: 5%;
                }
            }
        }
        .blog-left::before {
            display: none;
        }

        .blog-right {
            text-align: center;
            width: 100%;
            top: 0;
            img {
                margin: 2%;
                width: 90%;
                margin-bottom: 0;
                box-shadow: 15px 15px #FF8327;
            }
            h2 {
                margin: 20px 120px 0 120px;
            }
            p {
                margin: 20px;
                text-align: justify;
            }
            p:nth-of-type(1) {
                text-align: center;
                margin-bottom: 20px;
            }
            p:nth-of-type(5) {
                margin-bottom: 40px;
            }
        }
        .blog-right::before, .blog-right::after {
            content: none;
        }
    }


    .blog-mid-bottom {
        .blog-comment {
            display: flex;
            justify-content: center;
        }
        h2 {
            font-size: 58px;
            margin: 0 0 30px 0;
        }
        .blog-comment-one, .blog-comment-two {
            display: flex;
            justify-content: center;
            .blog-comment-image {
                margin: 20px;
            }
            .blog-comment-text {
                width: 90%;
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
        .blog-form {
            text-align: center;
            textarea {
                width: 94%;
                padding: 15px 0 0 15px;
                margin-right: 0;
            }
            input[type=email],
            input[type=text] {
                width: 45%;
                margin: 3% 1.5% 3% 1.5% ;
                padding: 0;
            }
        }
    }


    // Contact Media Queries
}

@media (max-width: 768px) {
    // Home Media Queries
    .home {
        height: 500px;
        h1, h2 {
            text-align: left;
        }
        h1 {
            margin-top: -350px;
            margin-left: -10px;
            font-size: 150px;
        }
        h2 {
            font-size: 50px;
            margin-left: -5px;
            margin-top: 0px;
        }
        img {
            width: 70%;
        }
    }
    header {
        nav {
            margin-bottom: 30px;
            ul {
                flex-direction: column;
                text-align: right;
                li {
                    margin-right: 20px;
                    a {
                        font-size: 28px;
                    }
                    .bar-link {
                        font-size: 44px;
                    }
                }
            }
        }
    }   
    .four {
        div {
            height: 300px;
        }
    }
    .five {
        .home-event-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            div:nth-of-type(1) {
                width: 80%;
                margin: 50px;
            }
            div:nth-of-type(2) {
                text-align: center;
                width: 100%;
                h2 {
                    margin: 0;
                }
                p, button {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .six {
        .home-gallery-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 90%;
                margin: 20px;
            }
        }
    }

    // Blog Media Queries
    .blog {
        height: 500px;
        h1 {
            font-size: 108px;
            font-weight: 700;
            position: relative;
            top: -300px;
        }
    }

    .blog-mid-bottom {
        .blog-comment-one, .blog-comment-two {
            .blog-comment-text {
                margin-bottom: 30px;
                p {
                    font-size: 30px;
                }
                p:nth-of-type(1) {
                    font-size: 40px;
                }
            }
        }
    }
    // Contact Media Queries


    
}


@media (max-width: 480px) {
    // Home Media Queries
    .home {
        img {
            width: 80%;
        }
    }

    // Blog Media Queries



    // Contact Media Queries
}