

@import 'setup';

h2, p {
    font-family: 'Chathura', sans-serif;
    color: white;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

img {
    width: 100%;
}

@import 'header';

@import 'main';

@import 'footer';

