a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

h2, p {
  font-family: 'Chathura', sans-serif;
  color: white;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.home {
  background-image: url(../assets/home-image-1.jpg);
  height: 700px;
  position: relative;
}

.home img {
  width: 50%;
  position: absolute;
  bottom: -15%;
  right: 0px;
  z-index: 1;
}

.home h1, .home h2 {
  text-align: center;
  color: white;
  z-index: 1000;
  position: relative;
}

.home h1 {
  margin-top: 300px;
  font-size: 261.4px;
  letter-spacing: 2.4px;
  font-family: 'Tulpen One', cursive;
  color: #FF8327;
}

.home h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 83.2px;
  line-height: 94.7px;
  letter-spacing: 2.6px;
  margin-top: 25px;
  margin-right: 160px;
}

.contact {
  background-image: url(../assets/contact-header-1.jpg);
  height: 550px;
}

.contact h1 {
  font-size: 108px;
  font-weight: 700;
}

.blog {
  background-image: url(../assets/blog-header-1.jpg);
  height: 600px;
}

.blog h1 {
  font-size: 108px;
  font-weight: 700;
}

.home-link,
.contact-link,
.blog-link {
  color: #FF8327;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1 {
  font-family: 'Chathura', sans-serif;
  font-size: 83.2px;
  line-height: 94.7px;
  letter-spacing: 2.6px;
}

header nav {
  margin-bottom: 180px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  margin: 40px;
}

header nav ul li a {
  font-family: 'Chathura', sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 29px;
  letter-spacing: 1.9px;
  text-decoration: none;
}

header nav ul li .bar-link {
  font-family: 'Tulpen One', cursive;
  font-size: 64px;
  font-weight: 300;
  position: relative;
  bottom: 5px;
}

h1, p, a {
  color: white;
}

.contact-mid {
  background-color: #111010;
}

.contact-mid .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 100px 0 150px 0;
}

.contact-mid .contact-body .contact-link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-mid .contact-body .contact-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-mid .contact-body .contact-link ul li {
  margin: 0 20px 20px 0;
}

.contact-mid .contact-body .contact-link ul li a {
  font-size: 25px;
}

.contact-mid .contact-body .contact-link .contact-address {
  width: 250px;
}

.contact-mid .contact-body .contact-link .contact-address p {
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 30px;
}

.contact-mid .contact-body .contact-link .contact-address p:nth-of-type(1) {
  margin-bottom: 25px;
}

.contact-mid .contact-body .form-container {
  position: relative;
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.contact-mid .contact-body .form-container .contact-form {
  position: absolute;
  top: -220px;
  background-color: #220303;
  height: 500px;
  -webkit-box-shadow: 20px 15px #FF8327;
          box-shadow: 20px 15px #FF8327;
  text-align: center;
}

.contact-mid .contact-body .form-container .contact-form textarea {
  width: 90%;
  border: 1px solid white;
  color: white;
  background-color: #220303;
  font-family: 'Chathura', sans-serif;
  font-size: 29px;
  line-height: 25px;
  resize: none;
  padding: 30px 0 0 20px;
}

.contact-mid .contact-body .form-container .contact-form input[type=email],
.contact-mid .contact-body .form-container .contact-form input[type=text] {
  background-color: #220303;
  width: calc(45% - 13px);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  margin: 30px 10px 35px 10px;
  padding: 0 0 10px 20px;
  font-family: 'Chathura', sans-serif;
  font-size: 29px;
}

.contact-mid .contact-body .form-container .contact-form input[type=submit] {
  margin-top: 40px;
  width: 90%;
  background-color: #BF2603;
  border: none;
  color: white;
  font-family: 'Chathura', sans-serif;
  font-size: 49px;
  line-height: 35px;
  font-weight: 700;
}

.blog-mid {
  background-color: #111010;
}

.blog-mid .blog-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-mid .blog-left {
  width: calc(100% / 3);
  margin-right: 5%;
  margin-top: 5%;
  position: relative;
  z-index: 10000;
}

.blog-mid .blog-left p, .blog-mid .blog-left h2 {
  margin: 5% 0 0 30%;
}

.blog-mid .blog-left h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 68px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: 2.2px;
  color: white;
}

.blog-mid .blog-left p {
  margin-top: 0;
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 30px;
}

.blog-mid .blog-left ul {
  list-style: none;
  position: relative;
}

.blog-mid .blog-left ul li {
  margin-top: 0;
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 30px;
  color: white;
  margin-left: 40%;
}

.blog-mid .blog-left ul li::before {
  content: "\2022";
  color: red;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.blog-mid .blog-left p:nth-of-type(2) {
  color: #FF8327;
}

.blog-mid .blog-left::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 63em;
  top: 2%;
  right: -5%;
  background-color: #220303;
  z-index: -1;
}

.blog-mid .blog-right {
  width: calc((100%/3)*2);
  position: relative;
  top: -80px;
  z-index: 10000;
}

.blog-mid .blog-right img {
  margin-left: 25px;
  width: calc(100% - 25px);
  margin-bottom: 50px;
}

.blog-mid .blog-right h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 68px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: 2.2px;
  margin: 40px 120px 0 120px;
  color: white;
}

.blog-mid .blog-right p {
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 30px;
  margin: 20px 120px;
}

.blog-mid .blog-right::before {
  position: absolute;
  content: "";
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: 2%;
  border-left: 5px solid #FF8327;
  border-bottom: 5px solid #FF8327;
  z-index: -1;
}

.blog-mid .blog-right::after {
  position: absolute;
  content: "";
  width: 96%;
  height: 40vw;
  top: 2%;
  background-color: #FF8327;
  z-index: -1;
}

.blog-mid .blog-right p:nth-of-type(1) {
  color: #FF8327;
  margin-bottom: 40px;
  margin-top: 0;
}

.blog-mid .blog-right p:nth-of-type(5) {
  margin-bottom: 70px;
}

.blog-mid-bottom {
  background-color: #111010;
}

.blog-mid-bottom .blog-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-mid-bottom h2 {
  font-family: 'Chathura', sans-serif;
  font-size: 68px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: 2.2px;
  color: white;
  margin-bottom: 50px;
  margin-right: 120px;
}

.blog-mid-bottom .blog-comment-one, .blog-mid-bottom .blog-comment-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.blog-mid-bottom .blog-comment-one .blog-comment-text, .blog-mid-bottom .blog-comment-two .blog-comment-text {
  width: 45%;
  margin-right: 120px;
  margin-left: 2%;
  margin-bottom: 100px;
}

.blog-mid-bottom .blog-comment-one .blog-comment-text p, .blog-mid-bottom .blog-comment-two .blog-comment-text p {
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 30px;
}

.blog-mid-bottom .blog-comment-one .blog-comment-text p:nth-of-type(1), .blog-mid-bottom .blog-comment-two .blog-comment-text p:nth-of-type(1) {
  color: #FF8327;
  margin-bottom: 10px;
  font-size: 45px;
}

.blog-mid-bottom .blog-form {
  text-align: right;
}

.blog-mid-bottom .blog-form textarea {
  width: 55%;
  border: 1px solid #FF8327;
  color: white;
  background-color: #111010;
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
  line-height: 25px;
  resize: none;
  padding: 30px 0 0 20px;
  margin-right: 5%;
}

.blog-mid-bottom .blog-form input[type=email],
.blog-mid-bottom .blog-form input[type=text] {
  background-color: #111010;
  width: calc((55%/2) - 13px);
  color: white;
  border: none;
  border-bottom: 1px solid #FF8327;
  margin: 0 10px 35px 10px;
  padding: 0 0 10px 20px;
  font-family: 'Chathura', sans-serif;
  font-size: 39px;
}

.blog-mid-bottom .blog-form input[type=email] {
  margin-right: 5%;
}

.blog-mid-bottom .blog-form input[type=submit] {
  margin-top: 40px;
  width: 55%;
  background-color: #BF2603;
  border: none;
  color: white;
  font-family: 'Chathura', sans-serif;
  font-size: 49px;
  line-height: 50px;
  font-weight: 300;
  margin-right: 5%;
  margin-bottom: 5%;
}

.home-body h2, .home-body p {
  font-family: 'Chathura', sans-serif;
}

.home-body h2 {
  font-size: 59px;
  font-weight: 700;
}

.home-body p {
  font-size: 39px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1.9px;
  color: white;
}

.home-body button {
  margin-bottom: 100px;
  background-color: #BF2603;
  padding: 5px;
  font-family: 'Tulpen One', cursive;
  font-size: 35px;
  color: white;
  border: none;
  width: 200px;
  letter-spacing: 2px;
}

.one, .three, .five {
  background-color: #111010;
}

.two, .six {
  background-color: #220303;
}

.one .body-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.one .body-flex p {
  font-size: 35px;
}

.one .body-flex i {
  font-size: 23px;
  position: absolute;
  left: -63px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 10px;
  width: 45px;
  height: 45px;
}

.one .body-flex div {
  width: calc(50% - 6%);
  margin: 0 3%;
  position: relative;
}

.one .body-flex div:nth-of-type(1),
.one .body-flex div:nth-of-type(2) {
  margin-top: 15%;
  margin-bottom: 5%;
}

.one .body-flex div:nth-of-type(3),
.one .body-flex div:nth-of-type(4) {
  margin-bottom: 10%;
}

.two .body-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.two .body-flex div {
  width: 45%;
}

.two .body-flex div p {
  margin-bottom: 35px;
}

.two .body-flex div button {
  width: 150px;
  margin: 0;
}

.two .body-flex div:nth-of-type(1) img {
  -webkit-box-shadow: 20px 25px #FF8327;
          box-shadow: 20px 25px #FF8327;
  position: relative;
  top: -25px;
}

.two .body-flex div:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 80px;
  padding-left: 60px;
}

.two .body-flex div:nth-of-type(3) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  margin-left: 80px;
  padding-right: 60px;
}

.two .body-flex div:nth-of-type(4) img {
  -webkit-box-shadow: -20px 25px #FF8327;
          box-shadow: -20px 25px #FF8327;
  bottom: -30px;
  position: relative;
}

.three {
  text-align: center;
}

.three h2 {
  color: #FF8327;
  margin-bottom: 20px;
  padding-top: 150px;
}

.three p {
  margin-bottom: 30px;
}

.four {
  background-image: url(../assets/banner-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.four div {
  height: 500px;
}

.five .home-event-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.five .home-event-flex div:nth-of-type(1) {
  width: 25%;
  margin: 100px 100px 100px 0;
}

.five .home-event-flex div:nth-of-type(1) img {
  -webkit-box-shadow: -15px 15px #FF8327;
          box-shadow: -15px 15px #FF8327;
}

.five .home-event-flex div:nth-of-type(2) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 75%;
}

.five .home-event-flex div:nth-of-type(2) h2 {
  color: #FF8327;
  margin-bottom: 10px;
}

.five .home-event-flex div:nth-of-type(2) p {
  margin-bottom: 40px;
}

.five .home-event-flex div:nth-of-type(2) button {
  margin: 0;
}

.six .home-gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.six .home-gallery-flex div {
  width: 31%;
  margin: 80px 0;
}

footer {
  background: #2c2c2c;
}

footer p {
  font-family: 'Chathura', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 1.9px;
  text-align: center;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .one .body-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .one .body-flex div {
    width: 100%;
    margin: 0;
    text-align: center;
    position: relative;
  }
  .one .body-flex div i {
    top: 50px;
    left: -110px;
    position: relative;
  }
  .one .body-flex div:nth-of-type(1) {
    margin-top: 15%;
    margin-bottom: 0;
  }
  .one .body-flex div:nth-of-type(2),
  .one .body-flex div:nth-of-type(3) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .one .body-flex div:nth-of-type(4) {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .two .body-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .two .body-flex div {
    width: 80%;
    text-align: center;
    margin: 5px;
    padding: 0;
  }
  .two .body-flex div h2 {
    margin-top: 20px;
  }
  .two .body-flex div button {
    margin-bottom: 20px;
  }
  .two .body-flex div:nth-of-type(1),
  .two .body-flex div:nth-of-type(2),
  .two .body-flex div:nth-of-type(3),
  .two .body-flex div:nth-of-type(4) {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .four div {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .four div {
    height: 300px;
  }
  .five .home-event-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .five .home-event-flex div:nth-of-type(1) {
    width: 80%;
    margin: 50px;
  }
  .five .home-event-flex div:nth-of-type(2) {
    text-align: center;
    width: 100%;
  }
  .five .home-event-flex div:nth-of-type(2) h2 {
    margin: 0;
  }
  .five .home-event-flex div:nth-of-type(2) p, .five .home-event-flex div:nth-of-type(2) button {
    margin-bottom: 20px;
  }
  .six .home-gallery-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .six .home-gallery-flex div {
    width: 90%;
    margin: 20px;
  }
}
